@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* test */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
}

header video,
header #video-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
header #video-poster {
  display: none;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header video {
    display: none;
  }
}

/* end test */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
}

:root {
  /* Colours */
  height: 100%;
  background: var(--dark-gradient);
  /* background-size: 200% 200%; */
  animation: gradientFade 5s ease-in-out infinite;
  /* color */
  --nyanza: #e9ffdb;
  --dark-purple: #301934;
  --dark-gradient: linear-gradient(120deg, black, gray);
  /* margins and padding */
  --margin-xxs: 0.2rem;
  --margin-xs: 0.4rem;
  --margin-s: 0.8rem;
  --margin-m: 1rem;
  --margin-l: 2rem;
  --margin-xl: 4rem;

  /* Type Scale */
  --text-size-xs: 0.64rem;
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.56rem;
  --text-size-2xl: 1.95rem;
  --text-size-3xl: 2.44rem;
  --text-size-4xl: 3.05rem;
  --text-size-5xl: 3.81rem;
}

/* Type Scale */

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: white;
}

body,
head,
header {
  background: var(--dark-gradient);
  font-family: "Roboto", sans-serif;
  color: white;
}

/* Header */
header.NCI-GYM {
  height: 100%;
  background-size: 200% 200%;
  animation: gradientFade 5s ease-in-out infinite;
}
.backdrop-filter {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
nav.head-navigation {
  z-index: 100;
}

nav.head-navigation * {
  color: white !important;
}

nav.head-navigation .site-logo {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
nav.head-navigation .site-logo:hover {
  text-decoration: none;
}
nav.head-navigation ul {
  margin-left: auto;
}

nav.head-navigation ul li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 1rem;
}

nav.head-navigation ul li a {
  padding: 0.6em 0 0.6em 0;
  text-decoration: none;
  border-bottom: 0;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

nav.head-navigation ul li a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(235, 232, 232);
  transition: 0.3s;
}

.NCI-GYM-container {
  opacity: 1;
  animation: 2s ease-out 0s 1 slideInBelow;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15rem 8rem;
}
.NCI-GYM-container * {
  z-index: 1;
}
@media (max-width: 600px) {
  .NCI-GYM-container {
    padding-top: 10rem;
  }
}

.NCI-GYM-container__title {
  text-transform: uppercase;
  font-size: 8rem;
  text-shadow: 2px 2px 64px black;
}

.NCI-GYM-container__subtitle {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.NCI-GYM-container__book-button {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--nyanza);
  border: 1px solid white;
  padding: 0.6em 1.4em;
  transition: transform 0.5s;
}

.NCI-GYM-container__book-button:hover {
  color: var(--nyanza);
  background-color: var(--dark-purple);
  transition: background-color ease-in-out 0.3s;
  text-decoration: none;
  transform: scale(1.06);
  transition: transform 0.5s;
}

/*  sections  */

section {
  padding: 4rem;
}

.section-header {
  margin-bottom: 2rem;
}

.section-header__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.section-header__subtitle {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.dark {
  background: var(--dark-gradient);
  color: white !important;
}

.light {
  background-color: var(--nyanza);
  color: var(--dark-purple);
}

.text_center {
  text-align: center;
}

.note {
  font-size: 0.9rem;
}

/* News Cards */

.news-cards-container {
  max-width: 1900px;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.news-card {
  display: flex;
  flex-direction: column;
  background: var(--dark-gradient);
  color: var(--nyanza);
  padding: 2em 2em;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25),
    0px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.news-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 2rem;
}

.news-card__title {
  margin: 0 0 1rem 0;
}

.news-card__seperator {
  color: white;
  width: 60%;
}

.news-card__info {
  color: white;
  margin-bottom: 4rem;
  max-height: 14ch;
  overflow: hidden;
}

.news-card__info::after {
  content: "...";
}

.news-card__read-more-button {
  width: fit-content;
  padding: 1em 0.8em;
  border: 1px solid var(--nyanza);
  display: block;
  margin-top: auto;
  transition: 0.3s;
}

.news-card__read-more-button:hover {
  border: 1px solid var(--);
  background: var(--orange-web);
  color: white;
  transition: 0.3s;
}

/* Video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Tables */

table.upcoming-classes-table {
  width: 100%;
  margin-bottom: 1rem;
}

table.upcoming-classes-table th,
table.upcoming-classes-table td {
  background: rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  text-align: left;
  padding: 0.8em;
}

table.upcoming-classes-table tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.3);
  min-width: 100%;
}

/* Apply explosion animation on button click */
#submitGuess:active {
  animation: explode 0.3s ease-in-out;
}

/*Forms*/
.form-container {
  border: 1rem solid black;
}

.subscribe-form {
  margin: 0 auto;
  display: flex;
}

.subscribe-form > * {
  color: white;
  background: rgb(39, 39, 39);
  padding: 1rem;
  font-size: 1rem;
  line-height: 4rem;
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
}

.subscribe-form > :not(label) {
  width: 100%;
}

.subscribe-form > input[type="submit"] {
  background-color: var(--orange-web);
  text-transform: uppercase;
}

.subscribe-form > input[type="submit"]:hover {
  background-color: var(--raspberry);
  color: white;
  cursor: pointer;
}

/*Footer*/
.home-footer {
  background-color: black;
  color: white;
  padding: 4rem;
}
.table-container {
  width: 100%;
  overflow: auto;
}
/* TODO: This is just a workaround, please fix the underlying problem */
/* The forms on the index page should be responsive or fit the screen, not scrollable. */
section {
  overflow: auto;
}

@media (max-width: 760px) {
  table.upcoming-classes-table th,
  table.upcoming-classes-table td {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  nav.head-navigation {
    position: relative;
  }
  nav.head-navigation ul {
    display: flex;
    flex-direction: column;
  }
  section {
    padding: 1rem;
  }
  .NCI-GYM-container__book-button {
    font-size: 1.3rem;
  }
  .NCI-GYM-container__title {
    font-size: 5rem;
  }
  .NCI-GYM-container__subtitle {
    font-size: 1rem;
  }
}

/* Animations*/
@keyframes slideInBelow {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}
/* Explosion animation */
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
@keyframes gradientFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
